#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



/* Establece el color de fondo del cuerpo de la página */
ion-content {
  --ion-background-color: transparent; /* Asegura que el fondo de color sea transparente */
  background: url('/assets/arbolito.jpg') no-repeat center center fixed; /* Ajusta la ruta de la imagen */
  background-size: cover;
}


/* Establece el color de fondo del ion-header */
ion-header {
  --background: #067fa4; /* Cambia #333 por el color que desees */
}

#bienvenida {
  position: absolute;
  bottom: 100px; 
  width: 100%;
  text-align: center;
  color: white; 
  font-size: 24px;
  padding: 10px; 
  background: rgba(3, 78, 78, 0.5);
}


