.ion-padding{
    --ion-background-color: transparent; /* Asegura que el fondo de color sea transparente */
    background: url('/assets/miau.png') no-repeat center center fixed; /* Ajusta la ruta de la imagen */
    background-size: cover;
    
}

.community-link{
    text-decoration:none;
    color: black;
}

