<!-- login-register.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLoginMode ? 'Iniciar Sesion' : 'Registrarse' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="isLoginMode ? loginForm : registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="username"></ion-input>
      <ion-text color="danger" *ngIf="submitted && (isLoginMode ? loginForm.get('username')?.hasError('required') : registerForm.get('username')?.hasError('required'))">
        Nombre de usuario obligatorio.
      </ion-text>
      
    </ion-item>

    <!-- Solo mostrar si es modo de registro -->
    <ion-item *ngIf="!isLoginMode">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
      <ion-text color="danger" *ngIf="submitted && !isLoginMode && registerForm.get('email')?.hasError('required')">
        Email es obligatorio
      </ion-text>
      <ion-text color="danger" *ngIf="submitted && !isLoginMode && registerForm.get('email')?.hasError('email')">
        Formato de email inválido
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
      <!-- Mostrar mensaje de error si el campo de contraseña es requerido y está vacío -->
      <ion-text color="danger" *ngIf="submitted && (isLoginMode ? loginForm.get('password')?.hasError('required') : registerForm.get('password')?.hasError('required'))">
        Contraseña es obligatoria
      </ion-text>
      
    </ion-item>

    <ion-button expand="block" type="submit">{{ isLoginMode ? 'Iniciar Sesion' : 'Registrarse' }}</ion-button>
  </form>

  <ion-button expand="block" fill="clear" (click)="toggleMode()">
    {{ isLoginMode ? '¿No tienes cuenta? Registrate!' : '¿Ya tienes cuenta? Iniciar sesión' }}
  </ion-button>
</ion-content>